<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img src="{{beer.image_url}}" alt="Beer Photo">
      <div class="caption">
        <h3>{{beer.name}}</h3>
        <p>{{beer.description}}</p>
        <div align="center">
          <a ng-click="skip()" class="btn btn-danger" role="button">Skip <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
          <a ng-click="save(beer)" class="btn btn-success" role="button">Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
